*{
    margin:0;
    padding:0;
    font-style: Calibri;
    box-sizing: border-box;
  
    
    font-family: Calibri, Arial, sans-serif;
}
    .sticked {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
  

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.logo-container {
  margin: 0 10px;
}

#phone-number {
  font-size: 24px;
  color: #FFFFFF;
}
.phone-icon {
  width: 25px;
  height: 25px;
  vertical-align: left;
  margin-right: 7px;
  margin-top: 5px;
}
.strip{
    width: 110%;
    background-color: #274694;
}


.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-right: 1000px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  padding-top: 90px;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #666;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  font-size: 20px;
}

.btn {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.ok {
  background-color: #4CAF50;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  text-align:center;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 20px;
}

.btn:hover {
  background-color: #45a049;
}

.ok:hover {
  background-color: #45a049;
}

.forgot-password {
  text-align: center;
  color: #666;
}

.forgot-password a {
  color: #4caf50;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.second-part {
  padding-top: 20px;
  position: relative;
  height:600px;
  margin-top: 130px;
  padding-bottom: 20px;
  
  background: url(https://bestanimations.com/media/ocean/992246961wave-ocean-animated-gif-7.gif) no-repeat center center/cover;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0a92d1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
  transition: 0.5s;
}

button:hover {
  opacity: 0.7;
}

.drops{
  display: flex;
  border-top: 190px;
  padding-left: 620px;
  background-color: azure; 
}



select {
  width: 180%;
  padding: 8px;
  border: none;
  background-color: azure;
  color: #929191;
  font-size: 18px;
  appearance: none;
  transition: 0.5s;
  font-weight: 500;
  padding-right: 5px;
}

select:hover{
  color: #17b2f0;
}

select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0a92d1;
}

.full-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #97DEF9;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow-x: hidden;
}

.third-part {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.third-img {
  margin-left: 50px;
  width: 800px;
  height: 300px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.text-container {
  flex-grow: 1;
}

.three-head {
  margin-left: 30px;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.three-desc {
  margin-left: 30px;
  font-size: 25px;
  padding-left: -10px;
}

.fourth-row{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 700px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.services-section {
  flex-basis: 33.33%;
  max-width: 33.33%;
  overflow: hidden;
  padding-left: 220px;
}

.contact-section {
  flex-basis: 33.33%;
  max-width: 33.33%;
  overflow: hidden;
  padding-left: 20px;
}

.social-icons {
  flex-basis: 33.33%;
  max-width: 33.33%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
}

.social-icons a {
  margin-right: 10px;
}

.footer {
  margin-top: 200px;
}

.facebook{
  position:absolute;
  width:100px;
  height:100px;
  transition: 0.5s;
  overflow: hidden;
  margin-top: -30px;
}

.facebook:hover{
  width:95px;
  height:95px;
  overflow: hidden;
}

.twitter{
  position:absolute;
  width:150px;
   height:95px;
   margin-left: 100px;
   overflow: hidden;
   margin-top: -30px;
   transition: 0.5s;

}
.twitter:hover{
  width:142px;
  height:92px;
  overflow: hidden;
}

.scrolling-text {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2d2daa;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: azure;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
}

.scrolling-text marquee {
  animation: marquee 10s ;
}

.footer{
  margin-top: 200px;  
}

.fruit-slider {
  position: relative;
  width: 100%;
  height: 500px; 
 overflow: hidden;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 20px;
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 20px;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  
}

.slide img {
  width: 100%;
  height: 100%; /* Ensure all images have the same height */
  object-fit: cover;
  object-position: center; /* Center the image within the slide */
  overflow: hidden;
  border-radius: 20px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #ffffff;
  overflow: hidden;
}

.prev-btn {
  left: 10px;
  overflow: hidden;
  color: black;
}

.next-btn {
  right: 10px;
  overflow: hidden;
  color: black;
}

.slides-section {
  padding-top: 10px;
  margin-left: 600px;
  margin-top: -500px;
  overflow: hidden;
  padding-right: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.team-section {
  position: relative;
  background-color: white;
  height: auto;
}

.blue-block {
  width: 100%;
  height: 330px;
  background-color: #007bff;
}

.blue-heads {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 80px;
  padding: 10px;
  padding-top: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  margin-top: -130px;
  margin-left: 140px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
}

.team-member img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-color: azure;
  z-index: 1;
  clip-path: circle(50% at 50% 50%);
  margin-right: 150px;
  transition: 0.5s;
  border-color: #929191;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.member-details {
  text-align: center;
  margin-top: 13px;
  padding: 10px;
  background-color: white;
  z-index: 1;
  margin-right: 130px;
}

.member-name {
  font-size: 30px;
  font-weight: bold;
}

.member-role {
  font-size: 16px;
  color: gray;
}








/*for nav */


.dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;

}

.dropdown-content {
  padding:8px 16px;
  margin-bottom: 50px;
  display: none;
  position: absolute;
  background-color:rgba(255, 255, 255,0.8);
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: left;
  font-size:14px; 
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  margin:2px 0;
 
}
.dropdown:hover .dropdown-content {display:block;
  height: auto; /* or a specific value */
  max-height: none;
  overflow: hidden;
  z-index: 4;

}



.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

a:link {
  color: rgb(1, 9, 100);
  background-color: transparent;
  text-decoration: none;
  margin-right:50px;
  
  font-weight:bold;
  border-radius: 5px;
 }
 a:hover {
 color: rgb(80, 115, 242);
 background-color: transparent;
 text-decoration: underline;

 }
 a:active {
 color: rgb(32, 2, 110);
 background-color: transparent;
 text-decoration: underline;


 }
 .dropdown:hover .dropbtn {
  background-color: #3e8e41;


}