/*for creation of main tabel*/
#bottom{
    border:2px solid black;
    background:#6C9BCF;
    border-radius: 3px;
}
.container{
    display:flex;
    border:2px solid black;
    font-family:Calibri;
    background:#6C9BCF;
    border-radius:3px;
}
.child1{
    padding:20px;
}
#capture,#scan{
    margin:10px;
    padding:5px;
    border-radius: 25%;
    font-size: 15px;
}
.container2{
    margin-top: 5px;
    padding:20px;
    font-family:Calibri;
    border-radius:3px;
}
td{
    font-size: 20px;
}
input,select{
    border:1px solid black;
    background-color: #FFF4E0;
    border-radius: 5px;
}
img{
    border-radius:1em;
}
input[type="text"]:hover {
    background-color:#F5EAEA ;
  
  }
  .scrolling-text {
    padding: 5px;
    background-color: #006CDF;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .scrolling-text marquee {
    font-weight: bold;
    width: 100%;
  }
  *{
    padding:0;
    font-family: Calibri, Arial, sans-serif;
    
    }
.heading{
background-color: white;
  width: 100vw;
  height: 150px;
  margin-left: calc(50% - 50vw); 
  margin-right: calc(50% - 50vw);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  
      }
      .heading h1{
          
          flex-grow: 1;
      }
      .img{
          vertical-align: middle;
          margin-left:auto;
          margin-right:auto;
          
      }
      a:link {
       color: rgb(1, 9, 100);
       background-color: transparent;
       text-decoration: none;
       margin-right:50px;
       
       font-weight:bold;
       border-radius: 5px;
      }
      a:hover {
      color: rgb(80, 115, 242);
      background-color: transparent;
      text-decoration: underline;
      }
      a:active {
      color: rgb(32, 2, 110);
      background-color: transparent;
      text-decoration: underline;
      }
h1{
color: #0C134F;
font-size:xx-large;
text-align: center;
margin-top:190px;
}
body{
background-color: #97DEF9;
font-size:20px;

}

input{
width: 200px;
padding: 1px;
border-radius: 4px;
background-color:#FFF4E0;
text-emphasis-color: black;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
  }
  .ok {
    background-color: #c5c221; /* Green */
  }
  
  .delete {
    background-color: #df8b1c; /* Red */
  }
  .close {
    background-color: #4CAF50; 
  }
  .button:hover {
    opacity: 0.8;
    background-color:#333333;
  }
  
.centrebox{

border-style:groove;
padding: 10px;
background: #6C9BCF;
border: solid 1px black;
border-radius: 3px;
width:650px;

}
.scrolling-text marquee {
font-weight: bold;
width: 100%;
}
.scrolling-text {
padding: 5px;
background-color: #006CDF;
color: #fff;
position: fixed;
bottom: 0;
left: 0;
right: 0;
width:auto;
}
.dropdown {
      position: relative;
      display: inline-block;
  }

.dropdown-content {
      padding:8px 16px;
      margin-bottom: 50px;
      display: none;
      position: absolute;
      background-color:rgba(255, 255, 255,0.8);
      min-width: 190px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      text-align: left;
      font-size:14px; 
      border-radius: 15px;
      align-items: center;
      justify-content: space-between;
      margin:2px 0;
  }
  .dropdown:hover .dropdown-content {display:block;}
.dropdown:hover .dropdown-content {display: block;}
